<DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>VinylRouge</title>
    <link rel="stylesheet" href="/template/css/style.css"/>
    <link rel="stylesheet" href="/template/css/reset.css"/>
    
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="/template/js/javascript.js" defer></script>
    <script src="/template/js/jquery.js" defer></script>
    <script src="/template/js/background_changer.js" defer></script>
</head>

<body>
    <div class="container">
        <div class="menu_logueo">
            <div class="left">
                 <a href="/index.php"><h1 id="nombreempresa">VINYL<span id="spanlogo">ROUGE</span></h1></a>
            </div>
             <div class="right">
                 {loguear}
             </div>
        </div>
        <div class="contenedor-datos">
            <div class="menu_aside">
                <div class="container_aside">
                    {aside}
                </div>
            </div>
            
            <div class="row">
                
                <div class="contenido">
                    {contenido}
                </div>
                
                <div class="menu_pie">
                    {paginacion}
                </div>
            </div>
        </div>
    </div>
</body>
<html>